<%- include('partials/header') %>

<div  class="display">
    <div class="display--cell">
        <p>Écrit par: <%= article.author_name %></p>
        <p>Titre: "<%= article.title %>"</p>
        <p>Thème: "<%= article.category_name %>"</p>
    </div>
    <div class="article--display">
        <p><%= article.content %></p>
</div>
        
</div>

<%- include('partials/footer') %>